*{
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center ;
    margin: 0;
    height: 100vh;
    padding: 0 24px;
    background-color: var(#7656f0);
    background-image: url(blue\ backgorund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9f9f9;
    animation: rotate 6s infinite alternate linear;
}
body::after{
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0 /35%);
}
.login-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 20px;
    background: rgb(24, 21, 36 / 66%);
    backdrop-filter: blur(10%);
    text-align: center;
}
.login-card> h2{
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 12px;

}
.login-card>h3{
    color: rgb(255, 255, 255 / 38%);
    margin: 0 0 48px;
    font-weight: 400;
    font-size: 16px;
}
.login-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}
.login-form> :is(input, button){
    width: 100%;
    height: 56px;
    display: grid;
    gap: 16px;
}
.login-form> input{
    color: rgb(255, 255, 255 / 96%);
    background: rgb(255, 255, 255 / 8%);
    font-family: inherit;
    font-size:16px;
    padding: 0 16px;
}
.login-form > input::placeholder {
    color: rgb(255, 255, 255 / 38%);
}
.login-form > button{
    cursor: pointer;
    width: 100%;
    height: 56px;
    background: var(#7656f0);
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    transition: all 0.375s;
}
.login-form > a{
    color: var(#7656f0);
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
}